<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="/static/css/estilos.css">
    <title>Calculo de compras</title>
</head>
<body>

     <H1>Formulario Calculo de Compras</H1>
     <form action="/procesar_compra" method="post">
        <br>
        <label for="nombre">Ingresa tu nombre:</label><br><br> <input type="text" id="nombre" name="nombre" required class="label2"><br><br>
        <label for="edad">Ingresa tu edad:</label><br><br> <input type="number" id="edad" name="edad" required class="label2"><br><br>
        <label for="tarros">Ingresa la cantidad de tarros de pintura a comprar</label><br><br> <input type="number" id="tarros" name="tarros" required class="label2"><br><br>
        <input type="submit" value="Calcular"><br>
     </form>


         <h3>Nombre del cliente : {{nombre}}</h3>
         <h3>Total sin descuento : $ {{total}}</h3>
         <h3>El descuento es: $ {{descto}}</h3>
         <h3>El total a pagar es : $ {{pagar}}</h3>

</body>
</html>